.slides {
    position: absolute;
    top: 60px;
    left: 420px;
    width: 500px;
    height: 500px;
    cursor: grab;
    user-select: none;
    padding-right: 420px;
}

.slides_grabbing {
    cursor: grabbing;
}

.slides img {
    pointer-events: none;
}

img {
    display: none;
}

.block {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
